@import '../../styles/variables';

.entry {
  display: flex;
  flex-direction: row;

  & + & {
    margin-top: 14px;
  }

  header {
    display: block;
  }

  span {
    display: inline-block;
  }

  span + span, a + a, a + span, span + a {
    display: inline-block;
    margin-left: 5px;
  }
}

a.sha, a.issue, a.pullRequest {
  color: inherit;
  background-color: rgba($blueLight1, 0.25);
}

.sha {
  display: inline-block;
  width: 60px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon > i {
  color: $black5;
  font-size: 1.3em;
  margin-right: 7px;
}

.user {
  font-weight: bold;
}

.timestamp {
  font-size: 0.8em;
}