@import '../../styles/variables';

.roomChatPage {
  flex: 1; // From RoomBase.
  display: flex; // For the Chat.
  flex-direction: column;
}

.chatHeader {
  border-bottom: 1px solid $grey;
  color: $black5;
  font-size: 0.9em;
  padding: 9px 15px;

  h3 {
    color: $black4;
    font-size: 2em;
    margin: 0 0 3px 0;
    padding: 0;
  }
}

.chatHistory {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
}

.chatBox {
  border-top: 1px solid $grey;

  input {
    border: 0;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    height: 66px;
  }
}