/* Loaded on application boot, not component / container dependent. */

@import url('https://fonts.googleapis.com/css?family=Raleway|Source+Sans+Pro');
@import 'variables';

html {
  height: 100%;
}

body {
  color: $black3;
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

h2 {
  text-transform: uppercase;
}

a, a:link, a:visited, a:active {
  color: $blueMedium1;
  text-decoration: none;

  &:hover {
    color: $blueLight1;
    text-decoration: none;
    cursor: pointer;
  }
}

input, textarea {
  border: 1px solid #888;
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
  font-weight: 200;
  padding: 7px 10px 7px 10px;
  width: 100%;
  transition: border 0.2s ease;
}

textarea:focus, input:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid $blueLight1;
}

button {
  color: $black3;
  background-color: #9ecadd;
  border: 0;
  border-radius: 2px;
  box-shadow: none;
  padding: 5px;
  transition: background-color 0.2s ease;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: $greenLight1;
    cursor: pointer;
  }
}

:global button.transparent {
  background-color: $whiteLight1;
  border: 2px solid $black5;

  &:hover {
    border: 2px solid $blueLight1;
  }
}

:global .big-transparent-button {
  background-color: transparent;
  border: 3px solid $whiteLight2;
  border-radius: 10px;
  color: $whiteLight1;
  height: 4em;
  font-size: 0.6em;
  font-weight: 200;
  width: 100%;
  transition: background 0.2s ease,
              color 0.2s ease;

  &:hover {
    background-color: $whiteLight2;
    color: $blueLight1;
  }
}

:global .full-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

:global .row {
  display: flex;
  flex-direction: row;
}

:global .modal {
  position: fixed;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 42;

  > span.close {

  }

  > div {
    @extend .full-center;
    background-color: $whiteLight1;
    padding: 25px;
    min-width: 30%;
  }
}

:global a.underline {
  text-decoration: none;

  &::after {
    display: block;
    content: "";
    background-color: currentColor;
    height: 2px;
    width: 0;
    margin-top: 1px;
    transition: all 0.2s ease;
  }

  &:hover::after {
    width: 100%;
  }
}

:global ul.horizontal-list {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    list-style-type: none;
  }

  li + li {
    margin-left: 5px;
  }
}

:global .error {
  color: $redError;
}

:global .form-container {
  padding: 20px;

  header {
    border-bottom: 1px solid $greyExtreme;
    margin-bottom: 25px;
    text-align: center;

    h2 {
      font-size: 2.4em;
      color: $black4;
    }
  }

  header.with-subtitle {
    h2 {
      margin-bottom: 5px;
    }

    padding-bottom: 25px;
  }

  button {
    background-color: $blueLight1;
    color: $whiteLight1;
    border-radius: 0;
    padding: 12px 15px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: #2ecc71;
    }
  }

  .field-container {
    margin-top: 15px;
  }

  .error {
    display: block;
  }
}

:global .form-container-2 {
  @extend .form-container;

  header {
    text-align: left;

    h2 {
      font-size: 2em;
      text-transform: capitalize;
    }
  }

  input, button {
    border-radius: 2px;
  }
}

:global .spacer {
  background-color: $greyExtreme;
  width: 100%;
  height: 1px;
  text-align: center;
  margin-top: 25px;

  > span {
    background-color: $whiteLight1;
    color: $black9;
    position: absolute;
    margin-top: -8px;
    padding-left: 7px;
    padding-right: 7px;
  }
}

:global .page {
  padding-top: $headerHeight;
  min-height: calc(100% - 60px);

  .box {
    margin-top: 5%;
  }
}

:global .content {
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  max-width: 1100px;
}

:global .box {
  border: 1px solid $grey;
  border-radius: 3px;
  background-color: $whiteLight1;
  padding: 40px;
  width: 60%;

  h2 {
    margin-top: 0;
  }
}

:global .card-list {
  margin: 15px 0 0 0;
  padding: 0;

  &::after {
    content: '';
    display: inline-block;
    width: 100%;
  }

  .card {
    display: inline-block;
    width: 23.5%;
    margin-right: 2%;
    vertical-align: top;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

:global .card {
  text-align: left;
  border-top: 1px solid $black3;
  height: 200px;

  > span {
    display: block;
    word-wrap: break-word;
  }

  .title {
    color: $black3;
    font-size: 2em;
    margin-bottom: 1px;
  }

  .subtitle {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .description {}
}