/* Application-wide variables.
 * Import: @import '../../styles/variables';
 */

$blueLight1: #0ca7d3;
$blueLight2: #0a99c3;
$blueMedium1: #0785ab;
$blueMedium2: #0084ab;
$blueDark1: #044c62;

$whiteLight1: #fff;
$whiteLight2: #fafffe;
$whiteLight3: #f4f4f4;
$whiteLight4: #f2f2f2;

$black: #000;
$black3: #333;
$black4: #444;
$black5: #555;
$black9: #999;

$greyExtreme: #eee;

$redError: #bb0000;

$headerHeight: 60px;