@import '../../styles/variables';

.chatBox {
  border-top: 1px solid $grey;
  margin-left: 10px;
  margin-right: 10px;

  form {
    margin: 0;
  }

  textarea {
    border: 0;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    height: 5em;
  }
}